.input-table {
  width: 100%;
  padding: 5px;
  border: solid 1px #bbbbbb;
  background-color: #eeeeee;
  border-spacing: 0 5px;
  font-family: roboto;
}

.input-header {
  padding: 6px;
  color: white;
  font-size: 18px;
  font-family: roboto-bold;
  background-color: #336699;
  column-span: all;
}

.info-icon {
  position: absolute;
  transform: translateY(10%);
  opacity: 50%;
  z-index: 1;
}

.info-icon:hover {
  transition: 1s;
  opacity: 100%;
}

.info-text-box {
  visibility: hidden;
  position: absolute;
  transform: translateX(15px) translateY(15px);
  right: 1;
  z-index: 3;
  padding: 3px;
  width: 150px;
  background-color: gray;
  border: solid 1px black;
  color: white;
  font-size: 12px;
  font-family: roboto;
  border-radius: 2px;
}

.info-icon:hover + .info-text-box {
  visibility: visible;
}

.left-label-text {
  position: absolute;
  transform: translateX(-90%);
  z-index: 1;
}

.input-box-valid,
.input-box-invalid {
  display: flex;
  margin-left: 3px;
  max-width: 80px;
  font-size: 14px;
  font-family: roboto;
  border-radius: 3px;
}

.input-box-valid {
  background-color: white;
  border: 1px solid #044284;
}

.input-box-invalid {
  background-color: #fff2f4;
  border: 1px solid #e30000;
}

.input-box-invalid:focus {
  background-color: white;
  outline: none;
  border: 1px solid #cb0101;
}

.right-label-text {
  color: #666;
  position: absolute;
  transform: translateX(900%) translateY(10%);
  left: 0;
  z-index: 1;
}

.input-error-message {
  position: absolute;
  transform: translateY(-40%);
  padding: 0;
  color: red;
  font: caption;
  font-size: 12px;
  pointer-events: none;
}

.inputs-error-message {
  color: red;
  font: caption;
  font-size: 12px;
  pointer-events: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.calculate-button,
.reset-button,
.save-button {
  color: white;
  border: 0px;
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
  font-family: roboto-bold;
}

.calculate-button {
  background-color: #4c7b25;
}
.reset-button {
  background-color: #ababab;
}
.save-button {
  background-color: #336699;
}

.calculate-button:hover,
.reset-button:hover,
.save-button:hover {
  background-color: #444444;
  transition: 0.5s;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(220, 220, 220, 0.5);
  z-index: 1;
}

@media (max-width: 768px) {
  .input-table {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }

  .input-header {
    font-size: 18px;
    padding: 8px;
  }

  .left-label-text {
    position: absolute;
    transform: translateX(-130%);
    z-index: 1;
  }

  .input-box {
    font-size: 16px;
    min-width: 95%;
    margin-left: 0;
  }

  .right-label-text {
    color: #666;
    position: absolute;
    transform: translateX(88%) translateY(10%);
    right: 0;
    z-index: 1;
  }

  .input-error-message,
  .inputs-error-message {
    font-size: 10px;
  }

  .calculate-button,
  .reset-button,
  .save-button {
    width: 100%;
    font-size: 14px;
    padding: 8px;
  }

  .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 100%;
    background-color: rgba(220, 220, 220, 0.5);
    z-index: 1;
  }
}
