#investment-graph {
  height: 300px;
  width: 600px;
  border: 2px solid black;
  padding-top: 5px;
  padding-bottom: 15px;
}

#investment-graph-header {
  text-align: center;
  font-family: roboto-bold;
}

@media (max-width: 768px) {
  #investment-graph-wrapper {
    height: 100%;
    width: 95%;
    overflow-y: hidden;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
  }

  #investment-graph {
    height: 50%;
    border: 2px solid black;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
