.investment-table {
  margin-top: 20px;
  margin-bottom: 20px;
  border: solid 1px #bbbbbb;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border-spacing: 10px 0;
}

.investment-table td {
  padding: 0 30px;
}
.investment-table td:first-child {
  padding-left: 10px;
}
.investment-table td:last-child {
  padding-right: 10px;
}

.investment-table-col-header td {
  font-weight: bold;
  background-color: #336699;
  color: white;
  border-bottom: solid 1px #bbbbbb;
  margin: auto;
}

.investment-table tbody tr:nth-child(even) {
  background-color: #f0f0f0; /* Gray background for even rows */
}

@media (max-width: 768px) {
  .investment-table-wrapper {
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
    width: 97%;
  }
  .investment-table {
    width: 95%;
    max-width: 100%;
    font-size: 12px;
  }

  .investment-table td {
    padding: 0 10px;
  }

  .investment-table td:first-child {
    padding-left: 2px;
  }

  .investment-table td:last-child {
    padding-right: 2px;
  }
}
